@font-face {
    font-family: "Cairo";
    src: url("fonts/Cairo-VariableFont_slnt\,wght.ttf");
}

.indexUl-top{
    top: 70px;
}

body{
    font-family: "Cairo", sans-serif;
}

.documentaiton-navbar-nav{
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
}

.documentationUl{
    overflow: auto;
    position: fixed;
    text-align: start;
    top: 0px;
    bottom: 0px;
    width: 250px;
}

.documentation-heading{
    position: relative;
    width: fit-content;
    margin: auto;
    padding-top: 5px;
}

.documentation-heading::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 0px;
    right: 0px;
}

.documentation-h3{
    position: relative;
    width: fit-content;
    padding-top: 5px;
    margin-bottom: 25px;
}

.documentation-h3::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 0px;
    right: 0px;
}

nav#sidebar {
    width: 250px;
    height: 100%;
    margin-left: 0px;
    display: none; /* Initially hidden for small screens */
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #dee2e6;
    overflow-y: auto;
}

.documentation-main-content {
    padding: 20px;
    text-align: start;
    height: 100vh;
}



.tree-menu ul {
    list-style-type: none;
    padding-left: 20px;
}

.tree-menu .caret {
    cursor: pointer;
    user-select: none;
}

.tree-menu .nested {
    display: none;
    margin-left: 20px;
}

.tree-menu .active {
    display: block;
}

.tree-menu .caret:before {
    content: "› ";  /* Default "right" arrow */
    color: black;
    font-weight: 900;
}

.tree-menu .caret-down:before{
    content: " › ";  /* "down" arrow */
    display: inline-block;
    color: black;
    font-weight: 900;
    transform: rotate(-90deg);
}




@media (max-width: 768px) {
    nav#sidebar {
        display: none; /* Hide sidebar */
    }
    .documentation-main-content {
        margin-left: 0; /* Full width on small screens */
    }
    #toggleSidebar {
        display: block; /* Show toggle button */
    }
}

.toggle-btn {
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 10px;
    transition: background-color 0.3s;
}


@media (max-width: 1009px) {
    nav#sidebar{
        position: absolute;
    }
}

@media (max-width: 992px) {
    nav#sidebar{
        position: absolute;
    }
}


@media (max-width: 767px) {
    #toggleSidebar{
        top: 65px;
    }
}

nav li{
    color: rgb(0, 128, 255);
}

nav li:hover{
    color: rgb(2, 89, 175);
}